@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}

:root {
  --color-svit-pink: deeppink;
  --color-svit-light-pink: rgb(249, 176, 187);
  --color-svit-violet: darkviolet;
  --color-svit-dark-blue: darkslateblue;
  --color-primary-dark: darkgray;
  --color-primary-light: white;
  --color-secomdary-dark: gray;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h1,
h3,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}

.link-list {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.link {
  color: var(--color-svit-pink);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-svit-violet);
}

/* for inputs */
.log-in-button:focus {
  color: pink;
  background-color: transparent;
}

.button[disabled] {
  color: gray;
}

.sign-up-button {
  color: burlywood;
  margin-right: 8px;
}

.log-in-button {
  color: white;
  background-color: coral;
  border: 2px solid blue;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 8px;
}

.log-in-button:hover {
  color: blue;
  background-color: transparent;
}

/* Hero section */
.hero-section {
  padding: 172px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/peonies.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--color-svit-violet);
  font-weight: 900;
  font-size: 70px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 10px;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-svit-pink);
}

/* Highlights section */
.highlights-section {
  background-color: var(--color-svit-violet);
  padding: 16px;
}

.highlights-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.highlights-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Artist statement section */
.artist-statement-section {
  padding-top: 96px;
  gap: 100px;
}

.artist-statement-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.artist-statement-content {
  display: flex;
  flex-direction: column;
  max-width: 710px;
}

.artist-statement-title {
  margin-bottom: 42;
  position: relative;
  align-self: center;
}

.artist-statement-title::before {
  content: '*';
  position: absolute;
  left: -16px;
}

.artist-statement-title::after {
  content: '*';
  position: absolute;
  right: -16px;
}

.artist-statement-image {
  animation: scale 2s linear;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(90%);
  }
  100% {
    transform: scale(100%);
  }
}

/* News section */
.news-title {
  margin-bottom: 80px;
}

/* Articles section */
.articles-title {
  margin-bottom: 16px;
}

.topics-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
}

.topics-item {
  flex-basis: calc((100% - 40px) / 5);
}

.topic-card {
  background-color: var(--color-svit-light-pink);
  color: var(--color-svit-pink);
  border: 1px solid var(--color-primary-light);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 444px;
}

.topic-card:hover {
  transform: scale(1.05);
}

.topic-title {
  align-self: center;
  text-transform: uppercase;
  flex-basis: 100px;
}

/* Contact section */
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.contact-content {
  background-color: aquamarine;
  max-width: 710px;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 42;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

/* Footer */
.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-svit-dark-blue);
  background-image: url('../images/footerImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  background-image: url('./images/xlib.png');
  background-repeat: no-repeat;
  content: '';
  width: 380px;
  height: 190px;
  right: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  gap: 16px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 16px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-svit-pink);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-svit-pink);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secomdary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}
