@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}

:root {
  --color-svit-pink: deeppink;
  --color-svit-violet: darkviolet;
  --color-primary-dark: darkgray;
  --color-primary-light: white;
  --color-secomdary-dark: gray;
}

/* Base */
* {
  box-sizing: border-box;
}

h1,
h1,
h3,
p {
  margin-top: 0;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.section-title {
}

.link-list {
  display: inline;
}

.link {
  color: var(--color-svit-pink);
  text-decoration: none;
  display: inline;
}

.link:hover {
  color: var(--color-svit-violet);
}

/* Hero section */
.hero-section {
  padding: 172px 0;
}

.hero-title {
  color: darkviolet;
  font-weight: 900;
  font-size: 70px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 10px;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-svit-pink);
}

.log-in-button {
  color: white;
  background-color: coral;
  border: 2px solid blue;
  border-radius: 4px;
  cursor: pointer;
}

.log-in-button:hover {
  color: blue;
  background-color: transparent;
}

/* for inputs */
.log-in-button:focus {
  color: pink;
  background-color: transparent;
}

.sign-up-button {
  color: burlywood;
}

.button[disabled] {
  color: gray;
}

/* Artist statement section */
.artist-statement-section {
  padding-top: 96px;
}

.artist-statement-title {
  margin-bottom: 42;
}

/* News section */
.news-title {
  margin-bottom: 80px;
}

/* Articles section */
.articles-section {
  margin-bottom: 80px;
}

.articles-title {
  margin-bottom: 16px;
}

.articles-item {
  background-color: lightpink;
  color: var(--color-svit-pink);
  text-transform: uppercase;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-svit-pink);
}
