:root {
  --color-svit-pink: deeppink;
  --color-svit-light-pink: rgb(249, 176, 187);
  --color-svit-violet: darkviolet;
  --color-svit-dark-blue: darkslateblue;
  --color-primary-dark: rgb(73, 73, 73);
  --color-primary-light: white;
  --color-secondary-light: rgb(150, 150, 150);
  --color-active-green: rgb(0, 100, 0);
}
