.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    gap: 24px;
  }
}

.contact-content {
  max-width: 710px;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 42;
}

.contact-map {
  flex-shrink: 0;
  margin: 0 -24px;
  height: 176px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;

  @media screen and (min-width: $bp-tablet) {
    width: 320px;
    height: 400px;
  }

  @media screen and (min-width: $bp-mobile) {
    width: 600px;
    height: 500px;
  }
}
